body {
    background-color: #f4e4bc; /* Cor de pergaminho */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 15px 30px;
    background-color: #d32f2f;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b71c1c;
}